:root{
    --clr-neutral-100: hsl(278, 68%, 11%);
    --clr-neutral-200: hsl(279, 6%, 55%);
    --clr-neutral-300: hsl(270, 3%, 87%);
    --clr-neutral-900: hsl(0, 0%, 100%);

    --clr-primary-100: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --clr-primary-900: hsl(0, 100%, 66%);

    --clr-white: var(--clr-neutral-900);
    --clr-error: var(--clr-primary-900);

    --clr-inp-border: var(--clr-primary-100);

    --b-card-shadow: -5px 5px 1.8rem -7px hsl(278, 68%, 11%);
    --f-card-shadow: -5px 5px 54px hsl(278, 68%, 11%);

    --fs-25: 0.25rem; //4pt
    --fs-50: 0.50rem; //8rem
    --fs-75: 0.625rem; //10rem
    --fs-100: 0.75rem; // 12pt
    --fs-200: 0.875rem; // 14pt 
    --fs-250: 0.9rem; // 14.5pt
    --fs-300: 0.9375rem; // 15pt
    --fs-400: 1rem; // 16pt
    --fs-500: 1.125rem; // 18pt
    --fs-600: 1.25rem; // 20pt
    --fs-700: 1.5rem; // 24pt
    --fs-800: 2rem; // 32pt
    --fs-900: 2.25rem; // 36pt

    --fs-input: var(--fs-400);
    @include big{
        --fs-label: var(--fs-75);
    }
    --fs-cta-btn: var(--fs-400);

    --ff-primary: 'Space Grotesk';

    --fw-500: 500;

    --lh-body: 1.2;
    --label-space: 2.5px;

    --body-padding-x: clamp(2rem ,20vh, 10rem);
    --body-padding-y: 6vh;

    @include big{
        --body-padding-y: clamp(1rem ,2vh, 10rem);
    }

    @include md{
        --body-padding-y: clamp(2rem ,5vh, 10rem);
    }
    --form-padding-x: 1rem;
    --form-padding-y: 10vh;

    --bor-rad: .3rem;

    @include mobile{
        --fs-input: var(--fs-400);
        --fs-label: clamp(var(--fs-25), 3vw, var(--fs-300));
        --body-padding-x: 1.5rem;
        --body-padding-y: 1rem;
        --form-padding: 0px;
    }
}

