:root{
    --clr-neutral-100: hsl(278, 68%, 11%);
    --clr-neutral-200: hsl(279, 6%, 55%);
    --clr-neutral-300: hsl(270, 3%, 87%);
    --clr-neutral-900: hsl(0, 0%, 100%);

    --clr-primary-100: linear_gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --clr-primary-900: hsl(0, 100%, 66%);

    --clr-white: var(--clr-neutral-900);
    --clr-error: var(--clr-primary-900);

    --clr-inp-border: var(--clr-primary-100);

    --fs-100: 0.75rem; // 12pt
    --fs-200: 0.875rem; // 14pt 
    --fs-300: 0.9375rem; // 15pt
    --fs-400: 1rem; // 16pt
    --fs-500: 1.125rem; // 18pt
    --fs-600: 1.25rem; // 20pt
    --fs-700: 1.5rem; // 24pt
    --fs-800: 2rem; // 32pt
    --fs-900: 2.25rem; // 36pt

    --ff-primary: 'Space Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --fw-500: 500;

    --lh-body: 1.2;

    @include sm{
    
    }
}
